
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amaranth|Amatic+SC|Architects+Daughter|Audiowide|Bangers|Berkshire+Swash|Bubblegum+Sans|Bungee+Inline|Bungee+Outline|Bungee+Shade|Cabin|Cabin+Sketch|Calligraffitti|Caveat|Codystar|Courgette|Crafty+Girls|Dancing+Script|Dosis|Eczar|Ewert|Exo|Fredericka+the+Great|Frijole|Fugaz+One|Gloria+Hallelujah|Gravitas+One|Great+Vibes|Handlee|Indie+Flower|Kalam|Kaushan+Script|Kumar+One+Outline|Lobster|Mogra|Monoton|Montserrat+Subrayada|Mystery+Quest|Nothing+You+Could+Do|Orbitron|Permanent+Marker|Pinyon+Script|Playball|Rakkas|Rancho|Rock+Salt|Russo+One|Rye|Sacramento|Sansita+One|Shadows+Into+Light|Shadows+Into+Light+Two|Special+Elite|Sunshiney|Tillana|Viga|Walter+Turncoat|Yellowtail');



$size : 7rem;
$border-width : .5rem;
$radius : 1rem; /* try 50% */
$transition : .3s;

$bg : #000000;
$green : #3E8F17;
$red : #ED3F36;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  position: relative;
}

body {
  background-color: #6F7E8E;
}

img {
  max-width: 100%;
}

.roundrect {
  padding: 0;
  .up { border-radius: 2rem 2rem 0 0; }
  .down { border-radius: 0 0 2rem 2rem; }
  .count { border-radius: .5rem .5rem; }
}

.vote {
  font-family: "Noto Sans";
  position: relative;
  width: $size;
  height: $size;
  // margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: $transition;
  cursor: pointer;

  &.up {
    background: $green;
    opacity: 1;
    height: 50%;
    margin-bottom: $border-width/2;
  }
  &.down {
    background: $red;
    opacity: 1;
    height: 50%;
  }

  &:hover {
    opacity: .5;
  }
}

.count {
  color: white;
  position: absolute;
  top: 0;
  border-radius: $radius*.1;
  margin: $size*.25;
  background: $bg;
  width: $size*.5;
  font-size: $size*.25;
  font-weight: bold;
  line-height: $size*.5;
  text-align: center;
  box-shadow: 0 0 0 $border-width $bg;
  pointer-events: none;
}

#app {
}

#random-quote {
  text-align: center;
  font-size: 35px;
  font-family: 'Fredericka the Great', cursive;
  background-color: #53D9FD;
  border-color: #000000;
}

#message-board {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-decoration: underline;

}

#public-message {
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

#public-post {
  margin-bottom: 40px;
  border-color: #000000;
  border: solid 3px;
  background-color: #F8C43C;
}

#login {
  background-color: #53D9FD;
  border-color: #FC3FA4;
  border-radius: 25%;
  font-family: 'Cabin Sketch', cursive;
}

#signup {
  background-color: #3E8F17;
  border-color: #F8C43C;
  font-family: 'Cabin Sketch', cursive;
  border-radius: 25%;
}

.login-input {

}

.signup-input {

}

#user-info {
  font-size: 25px;
}

.profile-item {
  color: #53D9FD;
  border: solid 3px;
  border-radius: 5px;
  border-color: #000000;
}

.profile-item-name {
  color: #F8C43C;
  text-decoration: underline;
}

#special-quote {
  height: 450px;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
}

#special-quote-box {
  background-color: #F8C43C;
  border-color: #000000;
}

.journal-title {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.mood-title {
  text-align: center;
}

.journal-entries-title {
  text-align: center;
  font-family: 'Rock Salt', cursive
}

.journal-entries {
  background: url(http://i.stack.imgur.com/ynxjD.png);
  background-size: contain;
  background-position: -5px 15px;
  background-repeat: repeat;
  border-color: #000000;
}

.entry-well {
  background-color: lightgray;
  border-color: #000000;
}

.post-title {
  text-align: center;
}

.edit-profile-title {
  text-align: center;
  font-family: 'Eczar', serif;
}

.special-quote-title {
  text-align: center;
}

.collection-title {
  text-align: center;
}

.collection-item {
  font-size: 20px;
  background-color: #F8C43C;
  border-color: #000000;
}

.home-icon {
  max-height: 185px;
  max-width: 185px;
}

.profile-icon {
  max-height: 185px;
  max-width: 185px;
}
.quote-icon {
  max-height: 185px;
  max-width: 185px;
}

.journal-icon {
  max-height: 185px;
  max-width: 185px;
}

.login-title {
  text-align: center;
  margin-left: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
}

.login-icon {
  max-height: 185px;
  max-width: 185px;
}

.post-icon {
  max-height: 185px;
  max-width: 185px;
}

.login-form {
  text-align: center;
}

.signup-form {
  text-align: center;
}

.footer {
  position: relative;
  overflow: hidden;
  background-color: #F8C43C;
  border-top: solid;
}

.footer-icon {
  max-height: 185px;
  max-width: 185px;
  margin: auto;
  // margin-left: 25px;
  // margin-right: 140px;
}

.icon-holder {
  text-align: center;
}

.post-box {
  min-height: 850px;
  font-family: 'Permanent Marker', cursive;
}

.nav-link {
  color: #F8C43C !important;
}

.post-area {
  background-color: #F8C43C;
  border-color: #000000;
}

#profile {
  min-height: 850px;
  font-family: 'Eczar', serif;
  line-height: 1.75;
}

#profile-image {
  border: solid 3px;
  border-color: #000000;
}

#journal-text {
  background: url(http://i.stack.imgur.com/ynxjD.png);
  font-family: 'Rock Salt', cursive;
  background-position: -5px 1px;
  height: 305px;
  font-size: 14px;
  line-height: 25px;
  padding: 2px 10px;
  border: solid 1px #ddd;
  border-color: #000000;
}

.mood-input {
  background: url(http://i.stack.imgur.com/ynxjD.png);
  background-position: -5px 1px;
  border-color: #000000;
}

#journal {
  font-family: 'Rock Salt', cursive
}

#collection-button {
  padding: 5px 0;
  max-width: 75px;
}

#collection {
  font-family: 'Eczar', serif;
  min-height: 850px;
}

#justforme {
  min-height: 850px;
  font-family: 'Special Elite', cursive;
}

input[type="file"] {
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  height: 10px;
}

#file-select {

}

.edit-profile {
  font-family: 'Eczar', serif;
  line-height: 1.75;
}
